body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 400vw;
  height: 100vh;
  display: flex;
  position: absolute;
  transform: translateX(-300vw);

  animation: slide-moving 15s ease infinite alternate;
  animation-delay: 5s;
}

.slide {
  width: 100vw;
  height: 100vh;
  flex-shrink: 100;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide-moving {
  0% {
    transform: translateX(-300vw);
  }
  10% {
    transform: translateX(-300vw);
  }
  20% {
    transform: translateX(-300vw);
  }
  30% {
    transform: translateX(-200vw);
  }
  40% {
    transform: translateX(-200vw);
  }
  50% {
    transform: translateX(-200vw);
  }
  60% {
    transform: translateX(-100vw);
  }
  70% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
